@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Caveat&family=Hind:wght@300&family=IBM+Plex+Sans:ital,wght@1,500&family=Lato:wght@700&family=Libre+Baskerville&family=Mukta&family=Pacifico&family=Poppins&family=Shadows+Into+Light&display=swap');

.maine{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}
.wholeSpotify{
    /* background: rgba(8, 8, 8, 0.959); */
    color: aliceblue;
}