.topSongRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.topSongs{
    padding: 2% 4%;
}
.picWithName{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.topSongPic{
    padding: 0% 4%;
    width: 13%;
    height: 13%;
    object-fit: cover;
    object-position: center;
}
.rendertheName{
    width: 100%;
    color: white;
}